@import url('common.css');

body {
    height: 100px;
}

.logo-img {
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -50px;
	width: 100px;
	height: 94px;
}

.logo-small, .logo-text {
    color: #f78181 !important;
}

.logo-small {
	position: absolute;
	top: 80px;
	left: 50%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
	font-family: Bold;
	font-size: 120%;
}

.logo-text {
	position: absolute;
	top: 70px;
	left: 50%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
	font-family: Black;
	font-size: 200%;
}

.container {
	positoin: relative;
	align-items: center;
	padding-top: 50px;
	width: 100px;
	height: 100px;
}
