@import url('common.css');

#newsfeed-body {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
}

/*
 * newsfeed header
 */
.header-table {
    width: 100%;
}
.ui-header form .ui-select {
    width: 150px !important;
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: 3px solid #fff;
}
.ui-header form #id_category-button {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}
.ui-header form .ui-select .ui-btn {
    padding-right: 40px;
    background-image: none !important;
}
.ui-header form .ui-select .ui-btn span {
    width: 100px;
}
.col-1 {
    width: 50px !important;
}
.col-2 {
    width: 150px !important;
}
.search-content::-webkit-input-placeholder {
    color: #fff;
}
.search-content:-moz-placeholder {
   color: #fff;
   opacity:  1;
}
.search-content::-moz-placeholder {
   color: #fff;
   opacity:  1;
}
.search-content:-ms-input-placeholder {
   color: #fff;
}
.search-button {
    width: 50px !important;
    height: 50px !important;
    vertical-align: middle !important;
}
.search-button img {
    left: 50%;
    margin-top: 10px;
    cursor: pointer;
}


/*
 * newsfeed footer
 */
.ui-navbar form ul .ui-block-a {
    width: 80% !important;
}
.ui-navbar form ul .ui-block-a div {
    border-radius: 3px;
}
.ui-navbar form ul .ui-block-b {
    width: 20% !important;
    height: 100% !important;
}
.ui-navbar form ul .ui-block-b .ui-input-text .comment-write {
    cursor: pointer;
    text-align: center;
}
.ui-navbar form ul li .ui-input-text {
    margin-left: 8px;
    margin-right: 8px;
}
.ui-navbar form ul li .ui-input-text input {
    width: 100% !important;
}


/*
 * write.html
 */
#write-content {
    position: relative;
	width: 100%;
	height: auto;
    min-height: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
    border-color: #fff !important;
    /*border-radius: 0px !important;*/
    box-shadow: none !important;
}
.write-category #id_category-button {
	background-color: transparent !important;
}
.write-main {
    position: absolute;
    width: 100%;
    height: 100% !important;
    max-height: 100% !important;
    left: 50%;
    margin-left: -50%;
}
.write-form {
    position: absolute !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.write-category .ui-select {
    width: 150px !important;
}
.write-table {
    float: right;
    margin-right: 20px;
}
.write-button {
    width: auto !important;
    cursor: pointer;
}
.write-footer {
    border-color: transparent !important;
}
.write-table tr th .divider {
    width: 1px;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
}


/*
 * article
 */
.article-box {
    width: 97%;
    margin-left: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.article-head {
    padding: 10px 5px 5px 5px;
}
.article-head table {
    width: 100%;
    padding: 2px;
    border-spacing: 0px !important;
}
.article-user-image {
    width: 70px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}
.article-user-image img {
    border-radius: 25px;
}
.article-user-id {
    font-family: Bold;
    font-size: 110%;
    text-decoration: none !important;
}
.article-time {
    float: right;
    font-family: Light;
    font-size: 90%;
}
.extra .sm-icon {
    padding-left: 5px;
    padding-right: 5px;
}
.article-content {
    clear: left;
    height: auto;
    padding: 10px 30px 5px 20px;
    word-wrap: break-word;
}
.article-foot table {
    width: 100%;
    padding: 0px 10px 0px 10px;
}
.article-comment {
    display: inline-flex;
    float: right;
}
.article-comment .sm-icon {
    padding-left: 5px;
    padding-right: 5px;
}
.div-fill {
    display: block;
    font-weight: 400 !important;
    text-decoration: none !important;
    word-wrap: break-word;
}
.article-car-box {
    display: flex;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.article-button {
    width: 10%;
    text-align: center;
    vertical-align: middle;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.article-car table {
    width: 100%;
    padding: 10px 10px 0px 10px;
    border-spacing: 0px !important;
    text-align: center;
}
.car-time {
    padding-right: 0px !important;
}
.car-time div {
    padding: 10px 0px 10px 0px;
}
.car-arrow {
    width: 50px;
    height: 70px;
    padding: 0px;
}
.car-type {
    font-style: italic;
}
.car-bottom td {
    padding-top: 10px;
}


/*
 * article_detail
 */
.detail-box {
    width: 98%;
    margin-left: 1%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.detail-box table {
    width: 100%;
    border-spacing: 0px !important;
}
.detail-user-image {
    height: 70px;
    text-align: center;
    vertical-align: middle;
}
.detail-user-image img {
    border-radius: 35px;
}


/*
 * comment
 */
.comment-box {
    width: 90%;
    margin-left: 5%;
    border-radius: 7px;
    padding: 5px;
}
.comment-profile {
    margin: 5px;
}
.comment-profile table {
    width: 100%;
}
.comment-image {
    width: 70px !important;
    height: 50px !important;
    text-align: center;
}
.comment-user {
    height: 50px !important;
    padding-left: 20px;
    vertical-align: middle;
}
.comment-user-id {
    font-size: 97% !important;
}
.comment-user table .user {
    font-size: 95%;
}
.comment-user table .time {
    font-size: 85%;
}
.comment-content {
    float: left;
    text-align: left;
    padding-left: 2px;
}
.comment-del {
    text-decoration: none;
    margin-left: 2px;
    font-size: 80%;
}

/*
 * setting
 */
.setting-body {
    margin: 0px 0px 0px 0px !important;
}
.setting-body .css-btn-box div table {
    width: 300px;
}
.setting-body .css-btn-box div table tr td {
    margin: 0px !important;
}
.setting-body .css-btn-box div table tr td .ui-input-btn {
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 3px;
}
.check-box label,
.setting-body .css-btn-box div table tr td div {
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}
.setting-body .css-btn-box div table tr .check-box div #id_is_public {
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
    margin-top: 0px !important;
}
.setting-blank {
    width: 238px;
    background-color: #fff;
    padding: 7px 30px 7px 30px;
    display: inline-flex;
}
.check-box label {
    height: 22px;
    padding-right: 20px;
}
.setting-imgbox {
    width: 100% !important;
    padding: 5px 0px 5px 0px;
}
.profile-imgbox img,
.setting-imgbox img {
    border-radius: 60px;
}



/*
 * profile
 */
.profile-box {
    margin: 30px;
    width: 350px;
    height: 120px;
}
.setting-imgbox,
.profile-box .profile-imgbox {
    float: left;
    width: 140px;
    height: 120px;
    text-align: center;
    vertical-align: middle;
}
.profile-box .profile-imgbox {
    border-radius: 120px;
}
.profile-box .profile-info {
    float: left;
    vertical-align: middle;
}


/* iCheck plugin Square skin, red
----------------------------------- */
.icheckbox_square-red,
.iradio_square-red {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(red.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-red {
    background-position: 0 0;
}
    .icheckbox_square-red.hover {
        background-position: -24px 0;
    }
    .icheckbox_square-red.checked {
        background-position: -48px 0;
    }
    .icheckbox_square-red.disabled {
        background-position: -72px 0;
        cursor: default;
    }
    .icheckbox_square-red.checked.disabled {
        background-position: -96px 0;
    }

.iradio_square-red {
    background-position: -120px 0;
}
    .iradio_square-red.hover {
        background-position: -144px 0;
    }
    .iradio_square-red.checked {
        background-position: -168px 0;
    }
    .iradio_square-red.disabled {
        background-position: -192px 0;
        cursor: default;
    }
    .iradio_square-red.checked.disabled {
        background-position: -216px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_square-red,
    .iradio_square-red {
        background-image: url(red@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}


/*
 * icons
 */
.sm-icon {
    width: 15px;
    height: 15px;
}