@import url('common.css');

body {
	background-color: #f3f3f3 !important;
}

#write-content {
    position: relative;
	width: 100%;
	height: auto;
    min-height: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
    border-color: #ffffff !important;
    /*border-radius: 0px !important;*/
    box-shadow: none !important;
}

#id_category {
    width: 100px !important;
    font-family: Light;
}

.write-form {
    position: absolute !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.write-footer {
    background-color: #f3a1a1 !important;
}

.ui-select {
    /*width: 100px;*/
}

.write-button {
    float: right !important;
    width: 100% !important;
    display: none !important;
}