@import url('common.css');
/*
 * newsfeed header
 */
.header-table {
    width: 100%;
}
.ui-header form .ui-select .ui-btn {
    padding-right: 40px;
    background-image: none !important;
}
.ui-header form .ui-select .ui-btn span {
    width: 100px;
}
.col-1 {
    width: 50px !important;
}
.col-2 {
    width: 200px !important;
}
.col-2 .ui-select div {
    left: 50%;
    margin-left: -75px;
}
.search-content::-webkit-input-placeholder {
    color: #fff;
}
.search-content:-moz-placeholder {
   color: #fff;
   opacity:  1;
}
.search-content::-moz-placeholder {
   color: #fff;
   opacity:  1;
}
.search-content:-ms-input-placeholder {
   color: #fff;
}
.search-button {
    width: 50px !important;
    height: 50px !important;
    vertical-align: middle !important;
}
.search-button img {
    left: 50%;
    margin-top: 10px;
    cursor: pointer;
}


/*
 * write.html
 */
#write-content {
    position: relative;
	width: 100%;
	height: auto;
    min-height: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
    border-color: #fff !important;
    /*border-radius: 0px !important;*/
    box-shadow: none !important;
}
.write-category #id_category-button {
	background-color: transparent !important;
}
.write-main {
    position: absolute;
    width: 100%;
    height: 100% !important;
    max-height: 100% !important;
    left: 50%;
    margin-left: -50%;
}
.write-form {
    position: absolute !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.ui-select {
    width: 150px !important;
}
.write-table {
    float: right;
    margin-right: 20px;
}
.write-button {
    width: auto !important;
    cursor: pointer;
}
.write-footer {
    border-color: transparent !important;
}


/*
 * article
 */
#newsfeed-body {
    padding-top: 5px;
    padding-bottom: 5px;
}
.div-article-box {
    width: 97%;
    margin-left: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.div-article {
    margin-bottom: 10px;
}
.div-profile {
    margin: 10px;
    height: 70px;
}
.div-image {
    width: 70px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
}
.div-image img {
    border-radius: 35px;
}
.div-user {
    height: 70px;
    padding-left: 20px;
    vertical-align: middle;
}
.div-user table .user {
    float: left;
}
.div-user table .time {
    float: right;
    font-family: Light;
    font-size: 90%;
}
.div-user-id {
    font-family: Bold;
    font-size: 110%;
    text-decoration: none !important;
}
.div-content {
    clear: left;
    height: auto;
    padding: 5px 30px 30px 20px;
}
.div-fill {
    display: block;
    font-weight: 400 !important;
    text-decoration: none !important;
}