@import url('common.css');

body {
	background-color: #f78181 !important;
}

#write-content {
    position: relative;
	width: 100%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
    border-color: #fff !important;
}

#id_category {
    width: 100px !important;
    font-family: Light;
}

.css-page-body {
	background-color: #f78181 !important;
}

.css-page-footer {
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

.css-btn-box {
	width: 300px;
	margin: 0 auto !important;
	padding-bottom: 50px;
}

.login {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.sign {
	border-bottom-left-radius: 10px !important;
	border-bottom-right-radius: 10px;
}