{% extends 'base_page.html' %}
{% load staticfiles %}

{% block page_content %}
    <div data-role="main" class="css-page-box" id="icon-div">
        <table id="icon-table">
            <tr>
                <td>
                    <img src="{% static "img/auricular6.png" %}" width="30"/>
                </td>
                <td>
                    <div>Icons made by <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{% static "img/chat26_.png" %}" width="30"/>
                </td>
                <td>
                    <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{% static "img/chat51.png" %}" width="30"/>
                </td>
                <td>
                    <div>Icons made by <a href="http://www.flaticon.com/authors/catalin-fertu" title="Catalin Fertu">Catalin Fertu</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{% static "img/clock97.png" %}" width="30"/>
                </td>
                <td>
                    <div>Icons made by <a href="http://www.flaticon.com/authors/balraj-chana" title="Balraj Chana">Balraj Chana</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{% static "img/correct7_.png" %}" width="30"/>
                </td>
                <td>
                    <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{% static "img/chat90.png" %}" width="30"/>
                </td>
                <td>
                    <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{% static "img/cross37_.png" %}" width="30"/>
                </td>
                <td>
                    <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{% static "img/marks.png" %}" width="30"/>
                </td>
                <td>
                    <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{% static "img/menu18_.png" %}" width="30"/>
                </td>
                <td>
                    <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{% static "img/user43__.png" %}" width="30"/>
                </td>
                <td>
                    <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{% static "img/private6__.png" %}" width="30"/>
                </td>
                <td>
                    <div>Icons made by <a href="http://www.flaticon.com/authors/icons8" title="Icons8">Icons8</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
                </td>
            </tr>
        </table>
    </div>

    {% include 'footer.html' %}
{% endblock %}