{% load url from future %}
{% load staticfiles %}

{% if user.notifications.all %}
    <div class="profile-box notice-box">
        <div class="up-arrow">
            <img src="{% static "img/up.png" %}" height="20"/>
        </div>
        <div class="box">
            {% for notice in user.notifications.all %}
                <table>
                    <tr>
                        <td rowspan="2" class="notice-img user-image">
                            <div class="image">
                                <img src="{% static "img/default_profile.jpg" %}" width="30"/>
                            </div>
                        </td>
                        <td class="notice-icon">
                            <img src="{% static "img/auricular6.png" %}" width="15"/>
                            <label>{{ notice.verb }}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ notice.timesince }}
                        </td>
                    </tr>
                </table>
            {% endfor %}
        </div>
    </div>
{% endif %}



{#<div class="alert alert-block alert-{{ notice.level }}">#}
{#    <a class="close pull-right" href="{% url 'notifications:mark_as_read' notice.slug %}">#}
{#        <i class="icon-close"></i>#}
{#    </a>#}
{##}
{#    <h4>#}
{#        <i class="icon-mail{% if notice.unread %}-alt{% endif %}"></i>#}
{#    {{ notice.actor }}#}
{#        {{ notice.verb }} {{ notice.timesince }}#}
{#    {% if notice.target %}#}
{#      of {{ notice.target }}#}
{#    {% endif %}#}
{#    </h4>#}
{##}
{#  <p>{{ notice.timesince }}</p>#}
{##}
{#    <div class="notice-actions">#}
{#        {% for action in notice.data.actions %}#}
{#            <a class="btn" href="{{ action.href }}">{{ action.title }}</a>#}
{#        {% endfor %}#}
{#    </div>#}
{#</div>#}