{% extends "base_page.html" %}
{% block title %}비밀번호 변경 완료{% endblock %}
{% block head %}비밀번호 변경 완료{% endblock %}
{% block page_content %}
        <div data-role="main" class="css-page-box">
           {% include "logo.html" %}
            <div data-role="logo" data-type="vertical">
                <p align="center" style="font-size: 110%">
                    <b class="font-title">비밀번호 번경 완료</b>
                </p>
            </div>

            <div data-role="controlgroup" data-type="vertical" class="css-btn-box" align="center">
                <a href="/login">로그인페이지로 돌아가기</a>
            </div>
        </div>
{% endblock %}