{% extends 'base_newsfeed.html' %}
{% load staticfiles %}

{% block page_content %}
    <div id="newsfeed-body">
        <div class="setting-body">
            {% include "logo.html" %}
            <div data-role="controlgroup" data-type="vertical" class="css-btn-box">
                <form method="post" class="white-input">
                    {% csrf_token %}

                    <div class="profile-imgbox user-image" style="margin-left: 80px;">
                        <div class="image">
                            <img src="{{ MEDIA_URL }}{{ form.get_image}}" width="120"/>
                        </div>
                    </div>

                    <input readonly value="{{ form.last_name.value }} {{ form.first_name.value }}" class="input-readonly"/>

                    {% for field in form %}
                        {{ field }}
                        {% for error in field.errors %}
                            <span style="color: lightcoral">{{ error }}</span>
                        {% endfor %}
                    {% endfor %}

                    <div data-role="footer" data-position="fixed" data-fullscreen="true">
                        <div data-role="navbar">
                            <ul>
                                <li>
                                    <a href="{% url "newsfeed" %}">취소</a>
                                </li>
                                <li>
                                    <input type="hidden" name="next" value="/" />
                                    <a href="{% url "newsfeed" %}" onclick="$(this).closest('form').submit()">확인</a>
                                </li>
                                <li>
                                    <a href="{% url "logout" %}">로그아웃</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        setting_ready();
    </script>
{% endblock %}