{% extends 'base_newsfeed.html' %}
{% load staticfiles %}
{% block page_content %}
    <div data-role="header" class="newsfeed-header">
        <table class="header-table">
            <tr>
                <th class="col-1">
                    <div class="search-button">
                        <a href="{% url "newsfeed" %}"><img src="{% static "img/logo.png" %}" height="30"/></a>
                    </div>
                </th>
                <th class="col-9"></th>
            </tr>
        </table>
    </div>

    {% include "article_box.html" with article=article url="#" %}

    <div>
        {% for comment in article.get_comments %}
            {% include "comment_box.html" with comment=comment %}
        {% endfor %}
    </div>
    <div>
        <form action="{% url "article" article.id %}" method="post" enctype="multipart/form-data">
            <table class="header-table" style="padding: 20px">
                <tr>
                    <th class="col-9">
                        {% csrf_token %}
                        {{ form.content }}
                    </th>
                    <th class="col-1">
                        <input type="submit" id="button" value="등록" />
                        <input type="hidden" name="next" value="/" />
                    </th>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}