{% extends 'base_newsfeed.html' %}
{% load staticfiles %}

{% block page_content %}
    <div data-role="header" class="newsfeed-header" data-position="inline">
        <a role="button" href="{% url "newsfeed" %}" id="back-button" class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-right"></a>
        <h1>게시글</h1>
    </div>

    <div data-role="content" class="css-page-box">
        <div class="detail-box">
            <table>
                <tr>
                    <td rowspan="2" class="detail-user-image user-image">
                        <div class="image">
                            <img src="{{ MEDIA_URL }}{{ article.student.get_image}}"/>
                        </div>
                    </td>
                    <td class="article-user-id">
                        <a href="{% url "mypage" article.student.id %}" class="article-user-id">{{ article.student }}</a>
                    </td>
                    <td rowspan="2">
                        <label class="article-time">{{ article.get_datetime }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>{{ article.category }}</label>
                    </td>
                </tr>
            </table>

            {% block detail %}
            {% endblock %}

        </div>
    </div>

    <div data-role="footer" data-position="fixed" data-fullscreen="true">
        <div data-role="navbar">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    <tr>
                        <td class="comment-image user-image">
                            <div class="image">
                                <img src="{{ MEDIA_URL }}{{ view.get_user_image }}"/>
                            </div>
                        </td>
                        <td class="comment-input">
                            {{ form.content }}
                        </td>
                        <td class="comment-submit">
                            <input readonly class="comment-write" value="등록" type="text" onclick="$(this).closest('form').submit()"/>
                            <input type="hidden" name="next" value="/" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function(){
            resize_image();
            $('#id_content').addClass('light-placeholder').attr('placeholder', '댓글을 입력해보세요 !');

            $('.detail-user-image .image img').each(function() {
                var img = $(this);
                resize_user_img(img, 70);
            });

            $('.comment-image .image img').each(function() {
                var img = $(this);
                resize_user_img(img, 40);
            });

            $(window).resize(function() {
                clearTimeout(this.id);
                this.id = setTimeout(resize_image, 200);
            });
        });
    </script>
{% endblock %}