{% extends 'base_newsfeed.html' %}
{% load staticfiles %}
{% block page_content %}

    <script language="javascript">
        page_reload('detail');
    </script>

    <div data-role="header" class="newsfeed-header" data-position="inline">
        <a role="button" href="{% url "newsfeed" %}" id="back-button" class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-right"></a>
        <h1>게시글</h1>
    </div>

    <div data-role="content" class="css-page-box">
        <div class="detail-box">
            {% include "article_info.html" with article=article type="detail" size=70 %}

            <div class="article-content">
                <p class="div-fill">{{ article.content }}</p>
            </div>

            {% if article.get_comments %}
                <div class="comment-box" id="newsfeed-body">
                    {% for comment in article.get_comments %}
                        {% include "comment_box.html" with comment=comment %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <div data-role="footer" data-position="fixed" data-fullscreen="true">
        <div data-role="navbar">
            <form action="{% url "article" article.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <ul>
                    <li class="comment-input">
                        {{ form.content }}
                    </li>
                    <li class="comment-submit">
                        <input readonly class="comment-write" value="등록" type="text" onclick="$(this).closest('form').submit()"/>
                        <input type="hidden" name="next" value="/" />
                    </li>
                </ul>
            </form>
        </div>
    </div>
{% endblock %}