{% extends 'article_detail.html' %}
{% load staticfiles %}

{% block detail %}
    <div class="detail-content">
        {% include "table_store.html" with board=board %}

        <table class="detail-table">
            <tr>
                <td class="image-td">
                    <img src="{% static "img/label11.png" %}" width="20"/>
                    <label>{{ board.trade.fee }}</label>
                </td>
            </tr>
            <tr>
                <td class="image-td">
                    <img src="{% static "img/clock97.png" %}" width="20"/>
                    <label>{{ board.trade.time }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>{{ board.trade.memo }}</label>
                </td>
            </tr>
        </table>

        {% if image %}
            {% include "newsfeed_image.html" with imgs=image %}
        {% endif %}
    </div>

    {% if board.article.get_comments %}
        <div class="comment-box">
            {% for comment in board.article.get_comments %}
                {% include "comment_box.html" with comment=comment %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}