{% extends 'base_newsfeed.html' %}
{% load staticfiles %}
{% block page_content %}

    {% include "header.html" with page="article" %}

    <div data-role="content">
        {% include "article_box.html" with article=article url="#" %}

        {% if article.get_comments %}
            <div class="comment-box" id="newsfeed-body">
                {% for comment in article.get_comments %}
                    {% include "comment_box.html" with comment=comment %}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% include "newsfeed_footer.html" with page="article" %}
{% endblock %}