{% load staticfiles %}

<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
    <script src="http://code.jquery.com/jquery-2.1.3.js"></script>
    <title>욉앱</title>
</head>

<body class="base-page-body">
<div data-role="page" class="css-page-body" id="page">
    {% block page_content_parent %}
    <div id="wrapper">
        {% block page_content %}

        {% endblock %}
    </div>
    {% endblock %}
</div>
</body>
</html>