{% extends 'base_newsfeed.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static "css/autocom.css" %}">
    <script type="text/javascript" src="{% static "js/jquery.autocomplete.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/currency-autocomplete.js" %}"></script>
{% endblock %}

{% block page_content %}
    <div>
        <div data-role="header" data-fullscreen="true">
            <div data-role="navbar">
                <ul class="write-header">
                    {% for item in form.cate %}
                        <li><a href="/write\{{ item.type }}" class="
                        {% if form.type == item.type %}
                            tabulous_active
                        {% else %}
                            tabulous_inactive
                        {% endif %}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <form method="post" enctype="multipart/form-data" data-ajax="false">
            {% csrf_token %}
            <div data-role="content" id="write-container">
                {% block tab_container %}
                {% endblock %}
            </div>

            <input type="hidden" name="next" value="/"/>

            <div data-role="footer" data-fullscreen="true">
                <div data-role="navbar">
                    <ul>
                        <li>
                            <a href="{% url "newsfeed" %}">
                                <img src="{% static "img/cross37.png" %}" width="30"/>
                            </a>
                        </li>
                        <li>
                            <a href="" id="write-submit">
                                <img src="{% static "img/correct7.png" %}" width="30"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
    <script type="text/javascript" src="{% static "js/tabulous.js" %}"></script>
    <script type="text/javascript" src="{% static "js/js.js" %}"></script>
    <script>
        write("{{ form.type }}");
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.autocomplete-suggestions').css('width', 'auto').css('min-width', '312px');

        });
    </script>
    {% block sub_script %}
    {% endblock %}
{% endblock %}