{% load staticfiles %}

<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>#}
    <link rel="stylesheet" type="text/css" href="{% static "css/newsfeed.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.mobile-1.4.5.min.css" %}"/>
    <link rel='stylesheet' type='text/css' href="{% static "css/tabulous.css" %}"/>
    <script src="http://code.jquery.com/jquery-2.1.3.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="{% static "js/jquery.mobile-1.4.5.min.js" %}"></script>
    <title>욉앱</title>

    <script language="javascript">

        function login_warning() {
            alert("로그인을 하십시오");
            location.href='/login'
        }

        function reload() {
            if(!window.location.hash) {
                window.location = window.location + '#loaded';
                window.location.reload();
            }
        }
    </script>

</head>

<body>
<div data-role="page" id="page" style="min-width: 350px">
    <div id="wrapper">
        {% block page_content %}
        {% endblock %}
    </div>
</div>

{% block script %}
{% endblock %}

</body>
</html>
