{% load staticfiles %}
<div class="comment-profile">
    <table>
        <tr>
            <td rowspan="2" class="article-user-image user-image">
                <div class="image">
                    <img src="{{ MEDIA_URL }}{{ comment.student.get_image}}" width="50"/>
                </div>
            </td>
            <td class="comment-user-id">
                <a href="{% url "mypage" comment.student.id %}">{{ article.student }}</a>
            </td>
            <td>
                <label class="article-time">{{ comment.get_datetime }}</label>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label class="comment-content">
                    {{ comment.content }}
                    {% if comment.student == user.student %}
                        <a href="{% url "comment-delete" comment.id %}" class="comment-del">x</a>
                    {% endif %}
                </label>
            </td>
        </tr>
    </table>
</div>