<div style="margin: 30px">
    <div style="width: 470px; ">
        <div style="float: left; width: 70px; text-align: center; vertical-align: middle">
            <img src="{{ comment.student.get_image.url }}" width="50" height="50" alt="default image"/>
        </div>

        <div style="float: left; width: 400px; font-size: 12px; margin-bottom: 20px" >
            <a href="{% url "mypage" comment.student.id %}">{{ comment.student }}</a>
            {{ comment.content }}   <br>
            <p>{{ comment.datetime }}
            {% if comment.student == user.student %}<a href="{% url "comment-delete" comment.id %}">삭제</a>{% endif %}</p>
        </div>
    </div>
</div>