<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>format</title>
		<meta name="description" content="format">
		<meta name="author" content="yunwoo">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

        {% load staticfiles %}

		<link rel="stylesheet" href="{% static "css/bootstrap.css"%}" type="text/css">
		<link rel="stylesheet" href="{%  static "css/bootstrap-responsive.css"%}" type="text/css">

	<style type="text/css">
		span{
			margin-right : 10px
		}
	</style>

    <script src="http://code.jquery.com/jquery-2.1.3.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	
	</head>
	
	<body>
		<div>
			<header>

			</header>
			<nav>
				<div>
				<div>
					<span><img src="default_profile.jpg" alt="profile_img" width="50" height="50"></span>
					<span>이름</span>
					<span>2014년 1월 27일</span>
				</div>			
				<p>한글로 쓴데</p>	
				</div>
			</nav>

			<div>

			</div>

			<footer>

			</footer>
		</div>
	</body>
</html>
