{% load staticfiles %}
<div data-role="header" class="newsfeed-header">
        <form action="" method="get">
            <table class="header-table">
                <tr>
                    <th class="col-2">{{ search_form.category }}</th>
                    <th class="col-7">
                        <input name="{{ search_form.content.name }}" placeholder="검색" class="search-content"/>
                    </th>
                    <th class="col-1">
                        <div class="search-button">
                            <img src="{% static "img/search.png" %}" height="30" onclick="$(this).closest('form').submit()"/>
                        </div>
{#                        <input type="submit" id="button" class="search-button"/>#}
                    </th>
                </tr>
    {#            <input type="submit" id="button" class="write-button" value="글쓰기" />#}
            </table>
{#            {% for field in search_form %}#}
{#                {{ field }}#}
{#            {% endfor %}#}
        </form>
    </div>