{% extends "base_page.html" %}

{% block content %}
    <div data-role="main" class="css-page-box">
        {% include "logo.html" %}
        <div data-role="logo" data-type="vertical">
            <p align="center" style="font-size: 110%">
                <p class="font-title" align="center">회원가입</p>
            </p>
        </div>

        <div data-role="controlgroup" data-type="vertical" class="css-btn-box">
            <form action="{% url "join" %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <table>
                        <tr><td>{{ field.label }}</td></tr>
                        <tr><td>{{ field }}</td></tr>
                    </table>
                    {% for error in field.errors %}
                        <span style="color: lightcoral">{{ error }}</span>
                    {% endfor %}
                {% endfor %}
            </form>
        <div align="center">
        <input type="submit" id="button" value="가입" style="width:100px" />
        <input type="hidden" name="next" value="/" />
        </div>
        </div>

    </div>

{% endblock %}
