    {% extends "base.html" %}

    {% block content %}
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again</p>
        {% endif %}
        <div data-role="main" class="css-page-box">
            {% include "logo.html" %}
            <div data-role="logo" data-type="vertical">
                <p align="center" style="font-size: 110%">
                    <b class="font-title">로그인</b>
                </p>
            </div>

            <div data-role="controlgroup" data-type="vertical" class="css-btn-box">

                    <form method="post" action=".">{% csrf_token %}
                        <table border="0">
                            <tr><th><label for="username">Username:</label></th><td>{{ form.username }}</td></tr>
                            <tr><th><label for="password">Password:</label></th><td>{{ form.password }}</td></tr>
                        </table>
                        <input type="submit" value="Login"/>
                        <input type="hidden" name="next" value="/admin"/>
                    </form>
                    <a href="/join">Register</a>

            </div>
        </div>
    {% endblock %}





