    {% extends "base.html" %}

    {% block content %}
        <div data-role="main" class="css-page-box">
            {% include "logo.html" %}
            <div data-role="logo" data-type="vertical">
                <p align="center" style="font-size: 110%">
                    <b class="font-title">로그인</b>
                </p>
            </div>

            <div data-role="controlgroup" data-type="vertical" class="css-btn-box">

                    <form method="post" action=".">{% csrf_token %}
                        {% if form.errors %}
                            <p class="font-version" style="text-align:center; color:lightpink; font-weight: bold; font-size: medium">[학번 또는 비밀번호를 확인해주세요]</p>
                        {% endif %}
                        <table border="0">
                            {% load staticfiles %}
                            <tr><th><a><img src="{% static "img/user60.png" %}" alt="id_img" width="50" height="50"</a></th><td>{{ form.username }}</td></tr>
                            <tr><th><a><img src="{% static "img/private6.png" %}" alt="id_img" width="50" height="50"</a></th><td>{{ form.password }}</td></tr>
                        </table>
                        <input id="button" align="center" style="border:none; color:white; background: pink" type="submit" value="Login"/>
                        <input type="hidden" name="next" value="/admin"/>
                    </form>
                    <div align="center"><a style="color:lightpink" href="/join">[비밀번호를 까먹었어요]</a></div>

            </div>
        </div>
    {% endblock %}





