{% extends 'base_newsfeed.html' %}

{% block page_content %}

    <div data-role="header">
        <h1>header</h1>
        <form action="" method="get">
            {% for field in search_form %}
                {{ field }}
            {% endfor %}
            <button type="submit">filter</button>
        </form>
    </div>

    <div data-role="content">
        {% if user.is_authenticated %}
            <div style="width: 500px; height: 150px;">
                <div style="float: left; width: 150px; height: 120px; text-align: center; vertical-align: middle">
                    <img src="{{ user.student.get_image.url }}" width="120" height="120" alt="default image"/>
                </div>

                <div style="float: left; width: 350px; height: 150px; vertical-align: middle">
                    <p>이름(학번) : {{ user.student }}</p>
                    <p>휴대전화 : {{ user.student.get_phone }}</p>
                    <p>이메일 : {{ user.email }}</p>
                </div>
            </div>
        {% endif %}
        {% for article in my_articles %}
            <div style="width: 500px; height: 70px;">
                <div style="float: left; width: 100px; height: 70px; text-align: center; vertical-align: middle">
                    <img src="{{ article.student.get_image.url }}" width="70" height="70" alt="default image"/>
                </div>

                <div style="float: left; width: 300px; height: 70px; vertical-align: middle">
                    {{ article.student }} <br>
                    {{ article.datetime }} <br>
                    {{ article.category }} <br>
                </div>
            </div>

            <div style="clear: left; width: 500px; height: auto; margin: 20px">
                {{ article.content }}
            </div>
        {% endfor %}
    </div>

    {% include "newsfeed_footer.html" %}


{% endblock %}