{% extends 'base_newsfeed.html' %}

{% block page_content %}
    <script language="javascript">
        var type = 'per';
        page_reload(type);
    </script>

    <div data-role="header" class="newsfeed-header" data-position="inline">
        <a role="button" href="{% url "newsfeed" %}" id="back-button" class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-right"></a>
        <h1 id="profile">{{ student }}</h1>
    </div>

    <div id="newsfeed-body">
        {% include "profile.html" %}
        <div>
            {% for article, item in view.get_list %}
                {% include "newsfeed_"|add:article.category.type|add:".html" with article=item %}
            {% endfor %}
        </div>

        {% include "newsfeed_footer.html" with page="mypage" %}
    </div>
{% endblock %}

{% block script %}
{#    <script type="text/javascript">#}
{#        $(document).ready(function(){#}
{#            $('.profile-box').hide();#}
{##}
{#            $('#profile').click(function() {#}
{#                if ($('.profile-box').is(':hidden'))#}
{#                    $('.profile-box').show();#}
{#                else#}
{#                    ($('.profile-box').hide());#}
{#            });#}
{#        });#}
{#    </script>#}
{% endblock %}