{% extends 'base_newsfeed.html' %}

{% block page_content %}
    <div data-role="header">
        <h1>header</h1>
        <form action="" method="get">
            {% for field in search_form %}
            {{ field }}
            {% endfor %}
            <button type="submit">filter</button>
        </form>
    </div>

    <div data-role="content">
    {% for article in articles %}
        <div style="width: 500px; height: 70px;">
            <div style="float: left; width: 100px; height: 70px; text-align: center; vertical-align: middle">
                <img src="{{ article.student.get_image.url }}" width="70" height="70" alt="default image"/>
            </div>

            <div style="float: left; width: 300px; height: 70px; vertical-align: middle">
                <a href="{% url "mypage" article.student.id %}">{{ article.student }}</a> <br>
                {{ article.datetime }} <br>
                {{ article.category }} <br>
            </div>
        </div>

        <div style="clear: left; width: 500px; height: auto; margin: 20px">
            {{ article.content }}
        </div>
    {% endfor %}
    </div>

    {% include "newsfeed_footer.html" %}

{% endblock %}