{% load staticfiles %}
<div class="newsfeed-article-box">
    <table>
        <tr>
            <td rowspan="2" class="article-user-image user-image">
                <div class="image">
                    <img src="{{ MEDIA_URL }}{{ article.student.get_image}}" width="50"/>
                </div>
            </td>
            <td rowspan="2" class="article-arrow">
                <img src="{% static "img/play106.png" %}" height="20"/>
            </td>
            <td class="article-content article-user-id">
                <a href="{% url "mypage" article.student.id %}">{{ article.student }}</a>
            </td>
        </tr>
        <tr>
            <td class="article-content">
                {{ article.category }}
                <label class="article-time">
                    {{ article.datetime }}
                </label>
            </td>
        </tr>
        <tr>
            <td class="article-comment">
                <div class="sm-icon">
                    <img src="{% static "img/default_profile.jpg" %}" width="20" height="20"/>
                </div>
                <label for="sm-icon">9</label>
            </td>
            <td></td>
            <td class="article-content article-paragraph">
                {% if url %}
                    <p class="div-fill">{{ article.content }}</p>
                {% else %}
                    <a href="{% url "article" article.id %}" class="div-fill">{{ article.content }}</a>
                {% endif %}
            </td>
        </tr>
    </table>
</div>