{% extends 'newsfeed_article.html' %}
{% load staticfiles %}

{% block content %}
    <table class="article-box-car">
        <tr>
            <td class="article-title">
                <a href="{% url "article" article.id %}">{{ article.depart }}</a>
            </td>
            <td class="car-arrow">
                <img src="{% static "img/car_arrow3.png" %}" width="30"/>
            </td>
            <td class="car-arrow">
                <img src="{% static "img/car_arrow3.png" %}" width="30"/>
            </td>
            <td class="article-title">
                <a href="{% url "article" article.id %}">{{ article.destination }}</a>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <label>{{ article.trade.time }} ( {{ article.transportation }} )</label>
            </td>
{#            <td>#}
{#                <label>{{ article.trade.time }}</label>#}
{#            </td>#}
{#            <td class="car-arrow">#}
{#                <img src="{% static "img/clock97.png" %}" width="20"/>#}
{#            </td>#}
{#            <td class="car-arrow">#}
{#                <img src="{% static "img/sportive36.png" %}" width="20"/>#}
{#            </td>#}
{#            <td>#}
{#                <label>{{ article.transportation }}</label>#}
{#            </td>#}
        </tr>
    </table>
{% endblock %}