{% load staticfiles %}
<div class="article-box">
    <table>
        <tr>
            <td rowspan="2" class="article-box-button">
                <label>1 / 2</label>
            </td>
            <td rowspan="4" class="divider">
            </td>
            <td rowspan="4" class="article-main-image">
                <img src="{% static "img/sample.jpg" %}" width="50"/>
            </td>
            <td>
                <label>식탁, 전기밥솥</label>
            </td>
        </tr>
        <tr>
            <td class="has_image">
                <img src="{% static "img/person.png" %}" width="20"/>
                <label>10000원, 20000원</label>
            </td>
        </tr>
        <tr>
            <td rowspan="2" class="article-box-button">
                <a href="#">BUY</a>
            </td>
            <td>
                <label>연락주세여</label>
            </td>
        </tr>
        <tr>
            <td class="article-bottom">
                {% include "newsfeed_comment.html" %}
            </td>
        </tr>
    </table>
</div>