{% load staticfiles %}
<div class="article-box">
    <table>
        <tr>
            <td rowspan="2" class="article-box-button">
                <a href="#" id="store-num">{{ article.trade.now_num }} / {{ article.trade.total_num }}</a>
            </td>
            <td rowspan="4" class="divider">
            </td>
            <td rowspan="4" class="article-main-image">
                <img src="{% static "img/default_profile.jpg" %}" width="50"/>
            </td>
            <td>
                <label id="store-title">{{ article.title }}</label>
            </td>
        </tr>
        <tr>
            <td class="has_image">
                <img src="{% static "img/person.png" %}" width="20"/>
                <label id="store-fee">{{ article.trade.fee }}</label>
            </td>
        </tr>
        <tr>
            <td rowspan="2" class="article-box-button">
                <a href="#">JOIN</a>
            </td>
            <td>
                <a id="store-link" href="{{ article.link }}">{{ article.link }}</a>
            </td>
        </tr>
        <tr>
            <td class="article-bottom">
                {% include "newsfeed_comment.html" %}
            </td>
        </tr>
    </table>
</div>