<tr>
    <td></td>
    <td></td>
    <td>
        <form action="{% url "swipe" id %}" method="get" class="newsfeed-image image">
            {% csrf_token %}
            <input type="hidden" id="image_id" name="image_id" value="0"/>
            {% for img in imgs %}
                <div class="image" style="width: {{ w }}%;">
                    <a onclick="javascript:swiper({{ img.id }}, $(this).closest('form'));"><img src="{{ MEDIA_URL }}{{ img.get_image }}"/></a>
                </div>
            {% endfor %}
        </form>
    </td>
</tr>