{% extends 'base_newsfeed.html' %}
{% load staticfiles %}
{% block page_content %}
{#    <div data-role="header" class="newsfeed-header">#}
{#        <form action="" method="get">#}
{#            <table class="header-table">#}
{#                <tr>#}
{#                    <th class="col-2">{{ search_form.category }}</th>#}
{#                    <th class="col-7">#}
{#                        <input name="{{ search_form.content.name }}" placeholder="검색" class="search-content"/>#}
{#                    </th>#}
{#                    <th class="col-1">#}
{#                        <div class="search-button">#}
{#                            <img src="{% static "img/search.png" %}" height="30"/>#}
{#                        </div>#}
{#                        <input type="submit" id="button" class="search-button"/>#}
{#                    </th>#}
{#                </tr>#}
    {#            <input type="submit" id="button" class="write-button" value="글쓰기" />#}
{#            </table>#}
{#            {% for field in search_form %}#}
{#                {{ field }}#}
{#            {% endfor %}#}
{#        </form>#}
{#    </div>#}

    {% include "header.html" %}

    <div data-role="content">
    {% for article in articles %}
        <div style="width: 500px; height: 70px;">
            <div style="float: left; width: 100px; height: 70px; text-align: center; vertical-align: middle">
                <img src="{{ article.student.get_image.url }}" width="70" height="70" alt="default image"/>
            </div>

            <div style="float: left; width: 300px; height: 70px; vertical-align: middle">
                <a href="{% url "mypage" article.student.id %}">{{ article.student }}</a> <br>
                {{ article.datetime }} <br>
                {{ article.category }} <br>
            </div>
        </div>

        <div style="clear: left; width: 500px; height: auto; margin: 20px">
            {{ article.content }}
        </div>
    {% endfor %}
    </div>

    {% include "newsfeed_footer.html" %}

{% endblock %}