<div data-role="footer" data-position="fixed" data-fullscreen="true">
    <div data-role="navbar">
        <ul>
            <li>
{#                <a href="write" data-rel="dialog">글쓰기</a>#}
{#                <form action="write">#}
{#                    <input id="button" type="submit" value="글쓰기">#}
{#                </form>#}
                <a href="write">글쓰기</a>
            </li>
            <li>
                <a href="{% url "mypage" %}" >마이페이지</a>
            </li>
            <li>
                <a href="#" >정보 수정</a>
            </li>
        </ul>
    </div>
</div>