{% load staticfiles %}

<div class="profile-box">
    <div class="up-arrow">
        <img src="{% static "img/up.png" %}" height="30"/>
    </div>
    <table>
        <tr>
            <td rowspan="4" class="profile-imgbox user-image">
                <div class="image">
                    <img src="{{ MEDIA_URL }}{{ student.get_image }}" width="120"/>
                </div>
            </td>
            <td colspan="2">
                <label>{{ student }} {{  student.get_stunum }}</label>
            </td>
        </tr>
        <tr>
            <td class="profile-icon-box">
                <img src="{% static "img/home147.png" %}" width="20" height="20"/>
            </td>
            <td>
                <label>{{ student.get_phone }}</label>
            </td>
        </tr>
        <tr>
            <td class="profile-icon-box">
                <img src="{% static "img/home147.png" %}" width="20" height="20"/>
            </td>
            <td>
                <label>{{ student.user.email }}</label>
            </td>
        </tr>
        <tr>
            <td class="profile-icon-box">
                <img src="{% static "img/home147.png" %}" width="20" height="20"/>
            </td>
            <td>
                <label>{{ student.area }}</label>
            </td>
        </tr>
    </table>
</div>