{% load staticfiles %}

<div class="profile-box">
    <table>
        <tr>
            <td rowspan="2">
                <div class="profile-imgbox user-image">
                    <div class="image">
                        <img src="{{ MEDIA_URL }}{{ student.get_image }}" width="120"/>
                    </div>
                </div>
            </td>
            <td>
                <label>{{ student }}</label>
            </td>
        </tr>
        <tr>
            <td>
{#                <img src="{% static "img/person.png" %}" width="20"/>#}
                <label>{{ student.get_phone }}</label>
            </td>
        </tr>
    </table>
</div>
{#        <p>{{ student.user.email }}</p>#}