{% extends 'base_write.html' %}
{% load staticfiles %}

{% block tab_container %}

    {% for field in house %}
        {{ field }}
        {% for error in field.errors %}<p>{{ error }}</p>{% endfor %}
    {% endfor %}

    {% for field in trade %}
        {{ field }}
        {% for error in field.errors %}<p>{{ error }}</p>{% endfor %}
    {% endfor %}

    {% include "write_doc.html" with doc=doc %}

    <input type="hidden" id="id_content" name="{{ form.content.name }}"/>
{% endblock %}

{% block sub_script %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#id_title').addClass('house-title');
            $('.ui-select').addClass('write-border');
        });
    </script>
{% endblock %}