{% extends 'base_write.html' %}
{% load staticfiles %}

{% block tab_container %}
    <table>
        <tr>
            <td>
                {{ car_form.depart }}
                {% for error in car_form.depart.errors %}<p>{{ error }}</p>{% endfor %}
            </td>
            <td class="write-img">
                <img src="{% static "img/car_arrow4.png" %}" width="30"/>
            </td>
            <td class="write-img">
                <img src="{% static "img/car_arrow4.png" %}" width="30"/>
            </td>
            <td>
                {{ car_form.destination }}
                {% for error in car_form.destination.errors %}<p>{{ error }}</p>{% endfor %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {{ car_form.now_num }}
                {% for error in form.now_num.errors %}<p>{{ error }}</p>{% endfor %}
            </td>
            <td colspan="2">
                {{ car_form.total_num }}
                {% for error in form.total_num.errors %}<p>{{ error }}</p>{% endfor %}
            </td>
        </tr>
    </table>

    {% for field in form %}
        {{ field }}
        {% for error in field.errors %}<p>{{ error }}</p>{% endfor %}
    {% endfor %}
    <p>car form</p>
    {% for field in car_form %}
        {{ field }}
        {% for error in field.errors %}<p>{{ error }}</p>{% endfor %}
    {% endfor %}
{% endblock %}

{% block sub_script %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#id_depart').attr('placeholder', '출발');
            $('#id_destination').attr('placeholder', '도착');
            $('#id_transportation').attr('placeholder', '예) 택시');
            $('#id_time').attr('placeholder', '출발 시간');


            $('#write-submit').click(function() {
                var content =
                        $('#id_depart').val() + ','
                        + $('#id_destination').val() + ','
                        + $('#id_memo').val();
                $('#id_content').val(content);
                $('#write-submit').closest('form').submit();
            });
        });
    </script>
{% endblock %}