{% extends 'base_write.html' %}
{% load staticfiles %}

{% block tab_container %}
    <input required type="text" id="title" name="{{ form.title.name }}" placeholder="* 집 종류"/>
    {{ form.area }}

    <table>
        <tr>
            <td class="write-img">
                <img src="{% static "img/sell_house.png" %}" width="30"/>
            </td>
            <td>
                <input required type="number" name="{{ form.sell_mon.name }}" placeholder="양도 월세"/>
            </td>
            <td class="write-slash">
                <label>/</label>
            </td>
            <td>
                <input type="number" name="{{ form.sell_deposit.name }}" placeholder="양도 보증금"/>
            </td>
        </tr>
        <tr>
            <td class="write-img">
                <input type="hidden" id="id_roommate" name="{{ form.roommate.name }}" value="true"/>
                <img src="{% static "img/female13.png" %}" width="30" class="write-roommate"/>
            </td>
            <td>
                <input type="number" name="{{ form.room_mon.name }}" placeholder="방 월세"/>
            </td>
            <td class="write-slash">
                <label>/</label>
            </td>
            <td>
                <input type="number" name="{{ form.room_deposit.name }}" placeholder="방 보증금"/>
            </td>
        </tr>
    </table>
    <input type="text" name="{{ form.time.name }}" placeholder="계약기간"/>
    <div>
        <textarea id="memo" name="{{ form.memo.name }}" placeholder="기타 사항" class="write-border"></textarea>
    </div>


    <input type="hidden" id="content" name="{{ formset.article.name }}"/>
{% endblock %}

{% block sub_script %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.write-roommate').click(function() {
                var prev = $('#id_roommate').val();

                if (prev == "true") {
                    $('#id_roommate').val(false);
                    $('.write-roommate').attr('src', '{% static "img/circle28.png" %}')
                } else {
                    $('#id_roommate').val(true);
                    $('.write-roommate').attr('src', '{% static "img/female13.png" %}')
                }
            });

            $('#write-submit').click(function() {
                var content =
                        $('#title').val() + ','
                        + $('span').text() + ','
                        + $('#memo').val();
                $('#content').val(content);
                alert($('#content').val());
                {#                $(this).closest('form').submit();#}
            });
        });
    </script>
{% endblock %}