{% extends 'base_write.html' %}
{% load staticfiles %}

{% block tab_container %}
    {% for field in store %}
        {{ field }}
        {% for error in field.errors %}<p>{{ error }}</p>{% endfor %}
    {% endfor %}

    {% for field in trade %}
        {{ field }}
        {% for error in field.errors %}<p>{{ error }}</p>{% endfor %}
    {% endfor %}

    {% include "write_doc.html" with doc=doc %}

    <input type="hidden" id="id_content" name="{{ form.content.name }}"/>
{% endblock %}

{% block sub_script %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#id_link').attr('placeholder', '출처');
            $('#id_time').attr('placeholder', '제한 시간');

            $('#write-submit').click(function() {
                var content =
                        $('#id_title').val() + ','
                        + $('#id_link').val() + ','
                        + $('#id_memo').val();
                $('#id_content').val(content);
                $('#write-submit').closest('form').submit();
            });
        });
    </script>
{% endblock %}